@media  only screen and (max-width: 768px){
    

    .display-main {
        grid-template-columns: 1fr !important;
    }

    .heading-main{
        font-size: 1.3rem;
    }

    .heading-sub{
        font-size: 0.8rem;
    }
}
